@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root {
    --primary-color: #d8dfe8;
    --secondary-color: #fff;
    --third-color: #0a3871;
    --fourth-color: #495057;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--primary-color);
}

.container {
    width: min(90%, 128em);
    overflow: hidden;
    margin: 0 auto;
}

main {
    min-height: calc(100vh - 4.5em);
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 4em;
    justify-content: flex-end;
}



nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.nav__container {
    width: 90%;
    margin: 0 auto;
    height: max-content;
    padding-top: 1.5em;
}

.nav__picture {
    display: flex;
    overflow: hidden;
    width: 32px;
    height: 48px;
    overflow: visible;
}

.nav__img {
    display: flex;
    height: 100%;
    width: 100%;
}

.nav__img:hover {
    filter: drop-shadow(0px 0px 3px var(--third-color));
}


.form__container {
    display: flex;
    flex-direction: column;
    margin-top: 4.5em;
    padding-top: 5em;
}

.form__label {
    font-size: clamp(.1rem, 3vw + .1rem, 1rem);
    display: flex;
    gap: 8px;
    align-items: center;
    padding-bottom: 0.5em;
}

.form__icon {
    height: 1em;
    display: flex;
}

.form__btns {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
}

.btn {
    padding: 1.5em 0;
    border-radius: 1.5em;
    border: none;
    font-size: clamp(.1rem, 4vw + .1rem, 1rem);
    text-transform: capitalize;
    width: 100%;
    cursor: pointer;
}

.btn__primary {
    background-color: var(--third-color);
    color: var(--secondary-color);
}

.btn__primary:hover {
    background-color: var(--secondary-color);
    color: var(--third-color);
}

.btn__secondary {
    background-color: transparent;
    border: 1px solid var(--third-color);
    color: var(--third-color);
    /* max-height: min-content; */
    max-height: 68px;
}

.btn__secondary:hover {
    background-color: var(--third-color);
    border: 1px solid var(--fourth-color);
    color: var(--secondary-color);
}


.btn--disabled {
    display: none;
}



.textarea {
    height: max-content;
    display: flex;
    max-width: 100%;
    resize: none;
    font-weight: 400;
    border: none;
    outline: none;
    /* overflow-wrap: break-word; */
    /* height: max-content; */
    overflow: hidden;
}

.textarea--primary {
    font-size: clamp(1rem, 4.3vw + 1rem, 2rem);
    min-height: 35vh;
    background-color: transparent;
    color: var(--third-color);

}

.textarea--primary::placeholder {
    color: var(--third-color);
    opacity: 1;
}


.msg {
    padding-bottom: 2.5em;
}


.msg__container {
    width: 100%;
    padding: 2em 2em;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border-radius: 2rem;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}


.msg__picture {
    display: none;
}

.imagen__disabled{
    display: none;
}


.msg__title {
    font-size: clamp(.1rem, 6vw + .1rem, 1.5rem);
    color: #343A40;
    font-weight: 800;
}

.msg__title--disable {
    display: none;
}

.msg--active {
    color: #495057;
}

.msg__paragraph {
    font-size: clamp(0.6rem, 2vw + 0.6rem, 1rem);
    background-color: transparent;
    border: none;
    max-width: 95%;
    text-align: center;
    color: var(--fourth-color);
    font-weight: 400;
    overflow-wrap: break-word;
}


.msg__paragraph--size {
    font-size: 1.5em;
}

@media (min-width: 768px) {


    .nav__container {
        padding-top: 4.5em;
    }

    .nav__picture {
        width: 31.09px;
        height: 46.37px;
    }

    main {
        min-height: calc(100vh - 7.375em);
    }



    .form__container {
        margin-top: 7.375em;
        padding-top: 7.5em;
    }

    .textarea--primary {
        min-height: 51vh;
    }


    .form__label {
        padding-bottom: 1em;
    }

    .form__btns {
        flex-direction: row;

    }

    .btn {
        padding: 1.5em 0;
        flex: 45%;
    }

    /* .msg__container { */
    /* height: 8.3em; */
    /* } */




}


@media (min-width: 1440px) {



    .nav__container {
        padding-top: 2.5em;
    }

    .nav__picture {
        width: 31.09px;
        height: 48px;
    }

    main {
        position: relative;
        flex-direction: row;
        gap: 5em;
        padding: 0 2.5vw;
    }

    .form,
    .msg {
        /* min-height: calc(100vh - 5.39791875em); */
        min-height: 100vh;
    }

    .form {
        width: 70%;
    }

    .form__container {
        width: 80%;
        margin-left: auto;
        height: max-content;
        margin-top: 5.6em;
        padding-top: 5em;
    }

    .textarea--primary {
        min-height: 70vh;
    }


    .msg {
        width: 30%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
    }

    .msg__container {
        min-height: 95vh;
    }

    .msg__picture {
        display: unset;
    }

    /* .msg__paragraph { */
    /* height: 100%; */
    /* min-height: 100vh; */
    /* } */



}